<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.vitalinfo.dance"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".application.MyApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.InstructionActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.TestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b673e0f6fb2f1b7d55062bde177d725c4e20cd72" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
